:root {
    --brand-color-text: #212121;
    --brand-color-hero: #FFFFFF;
    --brand-color-backgraund: #2F303A;
    --brand-color-link: #2196F3;
    --brand-color-logo: #2196F3;
    --brand-color-logo-two: #000000;
    --brand-color-description: #757575;
    --brand-color-button: #2196F3;
    --brand-color-contacts: rgba(255, 255, 255, 0.6);
    --brand-color-com: #F5F4FA;
    --brand-color-bgd: #F5F5F5;
}
body {
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-text);

}
/* header */
.header {
    max-width: 1600px;
    background: var(--brand-color-hero);
    border-bottom: 1px solid #ECECEC;
    
}
.container {
    
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-style {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;
    align-items: center;
}
.navigation {
   display: flex;
   align-items: center;
   gap: 92px;
}
.logo-head {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-logo);
    text-decoration: none;
}
.logo-head:hover {
    color: var( --brand-color-text);
}
.logo-head:focus {
    color: var( --brand-color-text);
}

.logo-head-sec {
    font-family: 'Raleway', sans-serif;
    color: var(--brand-color-logo-two);
    text-decoration: none;
}
.logo-head-sec:hover {
    color: var(--brand-color-logo);
}
.logo-head-sec:focus {
    color: var(--brand-color-logo);
}

.list-style-nav {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 50px;
}

.list-style-cont {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 40px;    
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-text);  
}
.link:hover {
    color: var(--brand-color-link);
}
.link:focus {
    color: var(--brand-color-link);
}

.link-cont {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-description);
}
.link-cont:hover {
    color: var(--brand-color-link);
}
.link-cont:focus {
    color: var(--brand-color-link); 
}

/* header end */



.title-feat {
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color-text);
}
.text-feat {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--brand-color-description);
}
.com-section {
    background: var(--brand-color-com);
    width: 1600px;
    height: 648px;
}
.title-busi {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
}
.title-com {
    text-align: center;
    padding-top: 94px;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
}
.titles {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
}
.design > li {
    width: 270px;
    height: 368px;


background: #FFFFFF;


box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: var(--brand-color-description);

}
.titles-portf {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color-text);
}

.nav {
    display: flex;
}
.link-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 145px;
    
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-logo);
    text-decoration: none;
}
.link-logo-two {
    font-family: 'Raleway', sans-serif;
    color: var(--brand-color-logo-two);
    text-decoration: none;
}

.link-style {
    
    width: 281px;
    
    padding-top: 32px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 0;
    margin-left: 93px;
    list-style: none;
    display: flex;
}

.link-style-end {
    
    width: 297px;
    
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.desc-style {
    width: 1170px;
    height: 98px;
    padding-top: 94px;
    padding-left: 215px;
    margin: 0;
    list-style: none;
    display: flex;
}
.desc-item {
    width: 270px;
    margin-right: 30px;
}
.desc-item-end {
    width: 270px;
}
.list {

}
.list:first-child {
    width: 45px;
    margin-right: 50px;
}    
.list:nth-child(2) {
    width: 72px;
    margin-right: 50px;
}
.list:last-child {
    width: 64px;
    
}

.com-style {
    text-align: center;
    width: 1170px;
    height: 368px;
    padding-left: 0;
   margin: 0 auto 0 auto;
    justify-content: space-between;
    list-style: none;
    display: flex;
}
.link-logo:hover {
    color: var( --brand-color-text);
}
.link-logo:focus {
    color: var( --brand-color-text);
}
.link-logo-two:hover {
    color: var(--brand-color-logo);
}
.link-logo-two:focus {
    color: var(--brand-color-logo);
}
/*.link-cont-marg {
    width: 122px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-description);
}*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-hero {
    padding-top: 200px;
    margin-top: 0;
    text-align: center;
    background: var(--brand-color-backgraund);
    height: 400px;
}
.section-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-color-hero);
}
.desc-section {
    height: 192px;
}
.title-hidd {
    margin-left: 215px;
    margin-top: 0;
    display: none;
}
.busi-section {
    width: 1170px;
    height: 386px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 215px;
}
.busi-style {
    justify-content: space-between;
    padding-left: 0;
    width: 1170px;
    height: 386px;
    list-style: none;
    display: flex;
}
.button-zero {
    border: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-hero);
    background: var(--brand-color-button);
    cursor: pointer;
}

.list-button {
    padding-left: 0;
    margin: 0 auto;
    width: 569px;
    height: 54px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    height: 38px;
    padding: 0;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    background: var(--brand-color-com);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button:hover {
    background: var(--brand-color-button);
    color: var(--brand-color-hero);
}
.button:focus {
    background: var(--brand-color-button);
    color: var(--brand-color-hero);
}
.button-one {
    
    width: 67px;
    
}
.button-two {
    
    width: 125px;
    
}
.button-three {
    
    width: 112px;
    
}
.button-four {
    
    width: 103px;
   
}
.button-five {
    
    width: 130px;
    
}

.style-button {
    width: 1170px;
    height: 54px;
    margin-bottom: 34px;
}
/* footer */
.bgd {
    max-width: 1600px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--brand-color-backgraund);
}

.logo-foot {
    
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-logo);
    text-decoration: none;
}
.logo-foot:hover {
    color: var(--brand-color-hero);
}
.logo-foot:focus {
    color: var(--brand-color-hero);
}
.logo-foot-sec {
    color: var(--brand-color-hero);
}
.logo-foot-sec:hover {
    color: var(--brand-color-logo);
}
.logo-foot-sec:focus {
    color: var(--brand-color-logo);
}
.address-style {
    font-style: normal;
    margin-top: 28px;
}
.list-style-foot {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.link-add {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-hero);
}
.link-add:hover {
    color: var(--brand-color-link);
}
.link-add:focus {
    color: var(--brand-color-link);
} 
.link-cont-foot {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-contacts);
}
.link-cont-foot:hover {
    color: var(--brand-color-link);
}
.link-cont-foot:focus {
    color: var(--brand-color-link); 
}
/* footer end */

.container-portf {
    margin-top: 94px;
    width: 1170px;
    
    margin-right: auto;
    margin-left: auto;
}
.data-portfolio {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.list-card {
    padding: 0;
    
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
}
.list-card > .item {
    flex-basis: calc((100%  - 60px) / 3);
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    
}

.card-image {
    display: block;
} 
.titles-portf {
    width: 322px;
    
    margin-top: 20px;
    margin-bottom: 4px;
    margin-right: auto;
    margin-left: auto;
}
.desc-portf {
    margin: 0px auto 20px auto;
    width: 322px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--brand-color-description);
}
